
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <div class="panel panel-info">
        <div class="panel-heading">Listing Employees</div>
        <div class="panel-body">
          <table class="table table-bordered", id="myTable">
            <thead>
              <tr>
                <th>Name</th>
                <th>Gender</th>
                <th>Designation</th>
                <th>Department</th>
                <th>D.O.J</th>
                <th>Salary Date</th>
                <th>Actions</th>

              </tr>
            </thead>

            <tbody>
              <% @employees.each do |employee| %>
                <tr>
                  <td><%=link_to employee.name, employee_path(employee) %></td>
                  <td><%= employee.gender%></td>
                  <td><%= employee.designation.name%></td>
                  <td><%= employee.department.name%></td>
                  <td><%= employee.date_of_joining.strftime("%d %b %y") %></td>
                  <td><%= employee.salary_date.strftime("%d %b %y") %></td>
                  <td>
                      <%= link_to 'Edit', edit_employee_path(employee) %>
                      <%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                 </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>