<p id="notice"><%= notice %></p>

<p>
  <strong>Basic:</strong>
  <%= @salary_structure.basic %>
</p>

<p>
  <strong>Da:</strong>
  <%= @salary_structure.da %>
</p>

<p>
  <strong>Hra:</strong>
  <%= @salary_structure.hra %>
</p>

<p>
  <strong>Pf:</strong>
  <%= @salary_structure.pf %>
</p>

<p>
  <strong>Others:</strong>
  <%= @salary_structure.others %>
</p>

<p>
  <strong>Pt:</strong>
  <%= @salary_structure.pt %>
</p>

<p>
  <strong>Emp pf:</strong>
  <%= @salary_structure.emp_pf %>
</p>

<p>
  <strong>Gratuity:</strong>
  <%= @salary_structure.gratuity %>
</p>

<p>
  <strong>Conveyance:</strong>
  <%= @salary_structure.conveyance %>
</p>

<p>
  <strong>Special allowance:</strong>
  <%= @salary_structure.special_allowance %>
</p>

<p>
  <strong>Gross:</strong>
  <%= @salary_structure.gross %>
</p>

<p>
  <strong>Monthly ctc:</strong>
  <%= @salary_structure.monthly_ctc %>
</p>

<p>
  <strong>Name:</strong>
  <%= @salary_structure.name %>
</p>

<%= link_to 'Edit', edit_salary_structure_path(@salary_structure) %> |
<%= link_to 'Back', salary_structures_path %>
