<%= form_for(@department) do |f| %>
  <% if @department.errors.any? %>
    <div id="error_exdepartmentation">
      <h2><%= pluralize(@department.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
      <% @department.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
      <%= f.label :Name %>
      <%= f.text_field :name, class: "form-control", autofocus: true, placeholder: "Enter Name", required: true %>
  </div>
  <br/>
  <%= f.submit class:"btn btn-info btn-fix"  %>
<%end%>